<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<configuration>
    <Properties>
        <Property name="monsia.log.level">info</Property>
    </Properties>
    <appenders>
        <File
            name="File"
            fileName="${sys:user.home}/.monsiaj/logs/monsiaj.log.${date:yyyyMMddHHmmssSSS}.txt"
        >
            <PatternLayout
                pattern="%d{MM/dd HH:mm:ss} [%-5p] %m%n%ex"
            />
        </File>
        <Console name="Console">
            <PatternLayout pattern="%d{MM/dd HH:mm:ss} [%-5p] %m%n%ex"/>
        </Console>
    </appenders>
    <loggers>
        <root level="${sys:monsia.log.level}">
            <appender-ref ref="File"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
