# example of build.properties
# copy this to the top directory and edit.
# and run ant as:
# ant -propertyfile build.properties [target]

# to build signed jar files, uncomment these lines.
#
#do.sign=yes
#alias=whatever
#keystore=/path/to/keystore
#webstart.url=http://url/to/monsiaj
#webstart.vendor=vender

# to build binaries without debug info, uncomment this line.
#
#javac.debug=yes
